html {
    height: 100%;
    width: 100%;
  }
  
body {
    background-color: #164863;
    color: #DDF2FD;
    font-family: 'Nunito Sans';
    font-size: 20px;
  }

 a {
    color: #9BBEC8;
  }

p {
    text-align: left;
    font-size:25px;
  }
  
.sticky{
    position: sticky;
    top: 0;
  }

.dropbtn {
    background-color: #164863;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;    
}
.dropdown:hover {
    position: relative;
    display: inline-block;   
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 72px;
    top: 15px;
/*Fix this taking up not enough of the screen*/
    background-color: #f1f1f1;
    width: 90vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: #164863;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    
}

.dropdown-content{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #164863;
}
input {
  background-color: #DDF2FD;
}
input {
  background-color: #164863;
  border: 1;
}
select {
  border: ;
}

@media (min-width: 320px) and (max-width: 767px) {
  p  {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
  }
  h2{
    font-size: 21px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  p {
  font-size: 23px;
}
h1 {
  font-size: 33px;
}
h2{
  font-size: 28px;
}
}
@media (min-width: 1024px) {
  p{
  font-size: 30px;
}
h1 {
  font-size: 40px;
}
h2{
  font-size: 34px;
}
nav {
  size-adjust: 100;
}
}
/* Add more media changes so it look better*/